<h1>Listing patterns</h1>

<table>
  <tr>
    <th class="span-4">Name</th>
    <th class="span-14">Description</th>
  </tr>

<% @patterns.each do |pattern| %>
  <tr>
    <td><%=h pattern.name %></td>
    <td><%=h pattern.description %></td>
    <td><%= link_to 'Show', pattern %></td>
    <td><%= link_to 'Edit', edit_pattern_path(pattern) %></td>
    <td><%= link_to 'Destroy', pattern, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pattern', new_pattern_path %>
<%= link_to 'Home', root_url %>
