<% setup # sets up any meta tags and page title -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      <%= yield :title %> - <%= RefinerySetting.find_or_set(:site_name, "Company Name") %>
    </title><%= stylesheet_link_tag "override" %><%= stylesheet_link_tag 'home' if @page.home? %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><%= yield :head %>

    
  </head>

  <body>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %><!-- page container -->

      <div class="container showgrid">
        Content here
      </div>

      </div><%= render :partial => 'shared/google_analytics' unless local_request? %></div>
  </body>
</html>
